.aboutus {
    position: relative;
}


.aboutus_content {
    width: 100%;
    z-index: 2;
}

.aboutus_content_info {
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}

.aboutus_knife {
    margin: 2rem 4rem;
}

.aboutus_knife img {
    height: 910px;
}

.aboutus_content_history {
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.aboutus_content_history p,
.aboutus_content_info p {
    margin: 2rem 0;
    color: gray;
}

@media screen and (max-width: 2000px) {
    .aboutus_knife img {
        height: 1100px;
    }
    .aboutus_content_history p,
    .aboutus_content_info p {
    margin: 4rem 0;
    
}

}

@media screen and (max-width: 900px) {
    .aboutus_content {
        flex-direction: column;
    }
    .aboutus_knife {
        margin: 4rem 0;
    }
    
}

@media screen and (max-width: 650px) {
    .aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
}